:host .container {
    display: block;
}
​
:host .slds-map_container{max-height: 200px!important;}
​
.iconBlue {
    --lwc-colorTextIconDefault: #116baf;
}
​
.blue{color:#116baf;}

.columnLeft{
	/* display: flex;
	align-items: right; */
	float:left;
    width: 50%;
    justify-content: center;
    margin-top: 20px;
}
.selector{
    text-decoration-color:#116baf;
    text-decoration-style: solid;
    text-decoration: underline;
}